table {
  display: table;
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
	width: 100% !important;
	border-radius: 6px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	overflow: hidden;
	word-break: break-word;
}

table thead {
	background: #35383c;
}

table tbody tr {
	background: #18191c;
}

table tbody tr:nth-child(2n) {
	background: #121315;
}

table td,
table th {
	border: none;
}

table th {
	border-bottom: 1px solid #040405;
	padding: 8px;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, .8);
}

table td {
	vertical-align: top;
	padding: 8px;
	font-weight: 300;
	max-width: 272px;
}

table td strong {
	color: #fff;
	font-weight: 600;
}

table td pre {
	color: #87909c;
}

th {
	text-align: left;
	font-weight: 400;
	vertical-align: middle
}

th {
	font-weight: 600;
	color: #fff;
	background-color: #202225 !important;
	border-color: #4f545c
}

td,
th {
	padding: 8px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	text-align: left
}

td {
	border-color: #4f545c
}

tr {
	color: #dcddde
}

tr:nth-child(2n) {
	background-color: #2f3136
}

tr {
	border: 1px solid transparent
}
